* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    min-width: 1230px;
    height: 100%;
    overflow-x: auto;
}

body {
    box-sizing: border-box;
    font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'microsoft yahei', arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content-box {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 40px 10px 40px;
    height: calc(100% - 150px);
    position: relative;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    &.active {
        transform: translateY(-100%);
    }
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.subcontainer {
    height: 100%;
    position: absolute;
    top: 100%;
}

// 标题
.jrtitle {
    height: 50px;
    line-height: 50px;
    width: 100%;
    padding-left: 40px;
    margin-bottom: 20px;
    img {
        display: inline-block;
        width: 50px;
        height: 50px;
        vertical-align: middle;
        &.homeicon {
            margin-right: 38px;
        }
        &.iicon {
            margin-right: 10px;
        }
    }
    .snav {
        display: inline-block;
        height: 100%;
        box-sizing: border-box;
        vertical-align: middle;
        color: rgba(255, 255, 255, 1);
        font-size: 28px;
    }
}

//按钮组
.btngroup {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
//按钮
.btn {
    height: 40px;
    width: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    border: solid 2px #828298;
    color: #828298;
    font-size: 16px;
    &.btnactive {
        font-size: 16px;
        color: #080532;
        background-color: #828298;
    }
}
.applybtn {
    height: 50px;
    width: 180px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    border: solid 2px #febe00;
    color: #febe00;
    font-size: 20px;
    &.btnactive {
        font-size: 20px;
        color: #febe00;
        background-color: #828298;
    }
}

.btncenter {
    display: flex;
    justify-content: center;
    &.mosaicbtn {
        margin-top: 20px;
    }
}

.content-collapse {
    left: 65px;
}

.crumbs {
    margin-bottom: 20px;
}

.pagination {
    margin: 20px 0;
    text-align: right;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.el-button + .el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity 0.5s;
}

.move-enter,
.move-leave {
    opacity: 0;
}

/*BaseForm*/

.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 0;
}

/*Upload*/

.pure-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
    height: 45px;
}

.el-upload--text {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}

.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    text-align: center;
}

.el-upload--text em {
    font-style: normal;
}

/*VueEditor*/

.ql-container {
    min-height: 400px;
}

.ql-snow .ql-tooltip {
    transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
    margin-top: 20px;
}

/*markdown*/

.v-note-wrapper .v-note-panel {
    min-height: 500px;
}
